* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #575859;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: 'Lato', sans-serif;
  color: #050C26;
}

header {
  background-color: #FFF5F5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.header-logo-link {
  text-decoration: none;
}

.header-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-item {
  padding-bottom: 5px;
  margin-right: 50px;
  border-bottom: 2px solid transparent;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-nav-item.active {
  border-bottom: 2px solid #3988FF;
}

.header-nav__link {
  text-decoration: none;
  color: #575859;
  font-size: 18px;
}

.header-nav__link.active {
  color: #3988FF;
}

.header-nav__link:hover {
  color: #3988FF;
}

.header-btn {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 15px 30px;
  background-color: #3988FF;
  border-radius: 5px;
}

.banner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: #FFF5F5;
  padding-bottom: 25px;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-item {
  width: 50%;
}

.banner-title {
  font-size: 69px;
  font-weight: 700;
  line-height: 83px;
  margin-bottom: 25px;
}

.banner-title__blue {
  color: #3988FF;
}

.banner-text {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 35px;
}

.banner-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.banner-btn__text {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  color: #050C26;
}

.banner-btn__img {
  margin-right: 25px;
}

.banner-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.banner-img__img {
  max-width: 100%;
}

.banner-border-bottom {
  width: 100%;
  height: 46px;
  background-image: url(../img/banner-border-botom.svg);
  margin-bottom: 96px;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 140px;
}

.progress-title {
  text-align: center;
  font-size: 43px;
  line-height: 56px;
  font-weight: 700;
  margin-bottom: 25px;
}

.progress-subtitle {
  text-align: center;
  max-width: 806px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 30px;
}

.progress-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.progress-img img {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 97px;
  padding-right: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-item {
  width: 100%;
}

.progress-card {
  margin-bottom: 45px;
}

.progress-card:last-child {
  margin-bottom: 0;
}

.progress-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 28px;
}

.progress-card-header.red {
  width: 80%;
}

.progress-card-header.orange {
  width: 90%;
}

.progress-card-header.green {
  width: 75%;
}

.progress-card-header.blue {
  width: 80%;
}

.progress-card-header__percent-red {
  color: #E41A1A;
}

.progress-card-header__percent-orange {
  color: #DA5A12;
}

.progress-card-header__percent-green {
  color: #5BBB10;
}

.progress-card-header__percent-blue {
  color: #15C1CC;
}

.progress-card-progressbar__red {
  width: 100%;
  height: 15px;
  border-radius: 50px;
  background-color: rgba(228, 26, 26, 0.1);
  position: relative;
}

.progress-card-progressbar__red-percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 15px;
  border-radius: 50px;
  background-color: #E41A1A;
}

.progress-card-progressbar__orange {
  width: 100%;
  height: 15px;
  border-radius: 50px;
  background-color: rgba(218, 90, 18, 0.1);
  position: relative;
}

.progress-card-progressbar__orange-percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 15px;
  border-radius: 50px;
  background-color: #DA5A12;
}

.progress-card-progressbar__green {
  width: 100%;
  height: 15px;
  border-radius: 50px;
  background-color: #5BBB1010;
  position: relative;
}

.progress-card-progressbar__green-percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 15px;
  border-radius: 50px;
  background-color: #5BBB10;
}

.progress-card-progressbar__blue {
  width: 100%;
  height: 15px;
  border-radius: 50px;
  background-color: #15C1CC10;
  position: relative;
}

.progress-card-progressbar__blue-percent {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 15px;
  border-radius: 50px;
  background-color: #15C1CC;
}

.template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.template-title {
  text-align: center;
  font-size: 43px;
  line-height: 56px;
  font-weight: 700;
  margin-bottom: 25px;
}

.template-subtitle {
  text-align: center;
  max-width: 874px;
  margin: 0 auto;
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 30px;
}

.template-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24%;
          flex: 0 0 24%;
  text-align: center;
  padding: 27px 22px;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
}

.template-card__img {
  margin-bottom: 30px;
}

.template-card__title {
  font-size: 25px;
  line-height: 37px;
  margin-bottom: 15px;
}

.template-card__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 25px;
}

.template-card__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  background-color: #3988FF;
  padding: 10px 20px;
  border-radius: 5px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
}

.services-title {
  max-width: 492px;
  font-size: 43px;
  line-height: 56px;
  font-weight: 700;
  margin-bottom: 25px;
}

.services-subtitle {
  max-width: 604px;
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 30px;
}

.services-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 60px;
  position: relative;
}

.services-card.card-01 {
  background-image: url(../img/serv-img-1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card.card-02 {
  background-image: url(../img/serv-img-2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card.card-03 {
  background-image: url(../img/serv-img-3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card.card-04 {
  background-image: url(../img/serv-img-4.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card.card-05 {
  background-image: url(../img/serv-img-5.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card.card-06 {
  background-image: url(../img/serv-img-6.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services-card:hover .services-card-overlay {
  opacity: 0;
}

.services-card-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(104px);
          backdrop-filter: blur(104px);
  padding: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services-card-overlay-content {
  background: #F3F3F3;
  border-radius: 10px;
  padding: 62px 20px;
}

.services-card-overlay__title {
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 20px;
}

.services-card-overlay__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}

.services-card-overlay__link {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-image: url(../img/serv-arrow-black.svg);
}

.services-card-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#D93059), to(#D95B7A));
  background: linear-gradient(180deg, #D93059 0%, #D95B7A 100%);
  border-radius: 10px;
  color: #fff;
  padding: 62px 20px;
}

.services-card__title {
  color: #fff;
  font-size: 25px;
  line-height: 38px;
  margin-bottom: 20px;
}

.services-card__text {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 40px;
}

.services-card__link {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-image: url(../img/serv-arrow-blue.svg);
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 110px;
}

.offers-header {
  text-align: center;
}

.offers-title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 49px;
  margin-bottom: 40px;
}

.offers-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.offers-control {
  padding: 10px;
  display: inline-block;
  border: 1px solid #1B45DA;
  border-radius: 5px;
  margin-bottom: 60px;
}

.offers-control-btn {
  font-size: 18px;
  line-height: 29px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.offers-control-btn:first-child {
  margin-right: 20px;
}

.offers-control-btn.active {
  color: #fff;
  background: #3988FF;
}

.offers-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
          box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
  text-align: center;
}

.offers-card-header {
  padding: 46px 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.14);
  overflow: hidden;
  position: relative;
}

.offers-card-content {
  padding: 40px 0;
}

.offers-card__title {
  font-size: 25px;
  line-height: 38px;
}

.offers-card__title.basic {
  text-transform: uppercase;
}

.offers-card__price {
  font-size: 18px;
  line-height: 29px;
  color: #050C26;
  margin-bottom: 15px;
}

.offers-card__price-value {
  font-size: 35px;
  font-weight: 700;
  line-height: 49px;
  font-family: 'Lato', sans-serif;
}

.offers-card__period {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 40px;
}

.offers-card__space, .offers-card__mail, .offers-card__domains, .offers-card__license {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 15px;
}

.offers-card__license {
  margin-bottom: 30px;
}

.offers-card__link {
  text-decoration: none;
  font-size: 25px;
  line-height: 37px;
  font-family: 'Lato', sans-serif;
  color: #3988FF;
  padding: 15px 30px;
  border: 1px solid #3988FF;
  border-radius: 5px;
}

.offers-card:hover .offers-card-header {
  background: -webkit-gradient(linear, left top, left bottom, from(#D95374), to(#D32852));
  background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
  border-bottom: 1px solid #D32852;
  border-radius: 10px 10px 0px 0px;
}

.offers-card:hover .offers-card__title, .offers-card:hover .offers-card__price {
  color: #fff;
}

.offers-card:hover .offers-card-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#D9315A), to(#F3678A));
  background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.offers-card:hover .offers-card__link {
  color: #fff;
  background-color: #3988FF;
}

.offers-card.business .offers-card-header::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -13px;
  background-image: url(../img/best-deal.svg);
  width: 67px;
  height: 67px;
}
/*# sourceMappingURL=style.css.map */