
$primary: #3988FF;
$primary-black: #050C26;
$primary-white: #fff;
$paragraph: #575859;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $paragraph;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: 'Lato', sans-serif;
    color: $primary-black;
    font-weight: 700;
}

// ======= header

header {
    background-color: #FFF5F5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;    
    &-logo-link {
        text-decoration: none;
    }
    &-nav {
        list-style: none;
        display: flex;
        &-item {
            padding-bottom: 5px;
            margin-right: 50px;
            border-bottom: 2px solid transparent;
            &:last-child {
                margin-right: 0;
            }
            &.active {                
                border-bottom: 2px solid $primary;
            }
        }
        &__link {
            text-decoration: none;
            color: $paragraph;
            font-size: 18px;
            &.active {
                color: $primary;
            }
            &:hover {
                color:$primary;
            }                        
        }
    }
    &-btn {
        text-decoration: none;
        display: block;
        color: $primary-white;
        padding: 15px 30px;
        background-color: $primary;
        border-radius: 5px;
    }
}

// ====banner 

.banner{
    &-section{
        display: flex;
        overflow: hidden;
        background-color: #FFF5F5;
        padding-bottom: 25px;                        
    }
    &-container {        
        display: flex;
        align-items: center;
    }
    &-content{
        flex: 0 0 100%;
        display: flex;        
    }
    &-item{
        width: 50%;                     
    }
    &-title{
        font-size: 69px;
        font-weight: 700;
        line-height: 83px;
        margin-bottom: 25px;
        &__blue{
            color: $primary;
        }
    }
    &-text{
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 35px;
    }
    &-btn{
        display: flex;
        align-items: center;
        cursor: pointer;        
        &__text{
            font-size: 18px;
            line-height: 29px;
            font-weight: 500;
            color: $primary-black;
        }
        &__img{
            margin-right: 25px;
        }
    }
    &-img{
        flex: 0 0 50%;
        transform: translateX(-100%);
    }
    &-img__img{
        max-width: 100%;
    }
    &-border-bottom {
        width: 100%;
        height: 46px;
        background-image: url(../img/banner-border-botom.svg);
        margin-bottom: 44px;
    }   
}