
$primary: #3988FF;
$primary-black: #050C26;
$primary-white: #fff;
$paragraph: #575859;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $paragraph;
    font-weight: 400;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-family: 'Lato', sans-serif;
    color: $primary-black;
}

.arrow-up{
    position: absolute;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url(../img/serv-arrow-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0 0 10px $primary);
    transform: rotate(180deg);
    z-index: 10;
    display: none;    
}

// ======= header

header {
    background-color: #FFF5F5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;    
    &-logo-link {
        text-decoration: none;
    }
    &-nav {
        list-style: none;
        display: flex;
        &-item {
            padding-bottom: 5px;
            margin-right: 50px;
            border-bottom: 2px solid transparent;
            &:last-child {
                margin-right: 0;
            }
            &.active {                
                border-bottom: 2px solid $primary;
            }
        }
        &__link {
            text-decoration: none;
            color: $paragraph;
            font-size: 18px;
            &.active {
                color: $primary;
            }
            &:hover {
                color:$primary;
            }                        
        }
    }
    &-btn {
        text-decoration: none;
        display: block;
        color: $primary-white;
        padding: 15px 30px;
        background-color: $primary;
        border-radius: 5px;
    }
}

// ====banner 

.banner{
    &-section{
        display: flex;
        overflow: hidden;
        background-color: #FFF5F5;
        padding-bottom: 25px;                        
    }
    &-container {        
        display: flex;
        align-items: center;
    }
    &-content{
        flex: 0 0 100%;
        display: flex;        
    }
    &-item{
        width: 50%;                     
    }
    &-title{
        font-size: 69px;
        font-weight: 700;
        line-height: 83px;
        margin-bottom: 25px;
        &__blue{
            color: $primary;
        }
    }
    &-text{
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 35px;
    }
    &-btn{
        display: flex;
        align-items: center;
        cursor: pointer;        
        &__text{
            font-size: 18px;
            line-height: 29px;
            font-weight: 500;
            color: $primary-black;
        }
        &__img{
            margin-right: 25px;
        }
    }
    &-img{
        flex: 0 0 50%;
        transform: translateX(-100%);
    }
    &-img__img{
        max-width: 100%;
    }
    &-border-bottom {
        width: 100%;
        height: 46px;
        background-image: url(../img/banner-border-botom.svg);
        margin-bottom: 96px;
    }   
}

// ===== progress

.progress {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;
    &-title{
        text-align: center;
        font-size: 43px;
        line-height: 56px;
        font-weight: 700;
        margin-bottom: 25px;
    } 
    &-subtitle{
        text-align: center;
        max-width: 806px;
        margin: 0 auto;
        margin-bottom: 70px;
        font-size: 18px;
        line-height: 30px;
    }   
    &-img{
        flex: 0 0 50%;
        position: relative;
        img {                        
            position: absolute;
            top: 0;
            right: 0;            
        }
    }
    &-content {
        flex: 0 0 50%;        
        padding-left: 97px;
        padding-right: 66px;
        display: flex;
        align-items: center;        
    }
    &-item{
        width: 100%;
    }
    &-card{
        margin-bottom: 45px;
        &:last-child{
            margin-bottom: 0;
        }
        &-header{            
            display: flex;
            justify-content: space-between;
            font-size: 25px;
            line-height: 37px; 
            margin-bottom: 28px;
            &.red{
                width: 80%;
            }
            &.orange{
                width: 90%;
            }  
            &.green{
                width: 75%;
            } 
            &.blue{
                width: 80%;
            }        
            &__percent-red{
                color: #E41A1A;
            }
            &__percent-orange{
                color: #DA5A12;
            }
            &__percent-green{
                color: #5BBB10;
            }
            &__percent-blue{
                color: #15C1CC;
            }
        }
        &-progressbar__red{
            width: 100%;
            height: 15px;            
            border-radius: 50px;            
            background-color: rgba(228, 26, 26, 0.1); 
            position: relative;
            &-percent{
                position: absolute;                
                top: 0;
                left: 0;
                width: 75%;
                height: 15px;            
                border-radius: 50px;
                background-color: #E41A1A; 
            }          
        }
        &-progressbar__orange{
            width: 100%;
            height: 15px;            
            border-radius: 50px;            
            background-color: rgba(218, 90, 18, 0.1); 
            position: relative;
            &-percent{
                position: absolute;                
                top: 0;
                left: 0;
                width: 85%;
                height: 15px;            
                border-radius: 50px;
                background-color: #DA5A12; 
            }          
        }
        &-progressbar__green{
            width: 100%;
            height: 15px;            
            border-radius: 50px;            
            background-color: #5BBB1010; 
            position: relative;
            &-percent{
                position: absolute;                
                top: 0;
                left: 0;
                width: 70%;
                height: 15px;            
                border-radius: 50px;
                background-color: #5BBB10; 
            }          
        }
        &-progressbar__blue{
            width: 100%;
            height: 15px;            
            border-radius: 50px;            
            background-color: #15C1CC10; 
            position: relative;
            &-percent{
                position: absolute;                
                top: 0;
                left: 0;
                width: 75%;
                height: 15px;            
                border-radius: 50px;
                background-color: #15C1CC;
            }          
        }
    }
}


// ===== template


.template{
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
    &-title{
        text-align: center;
        font-size: 43px;
        line-height: 56px;
        font-weight: 700;
        margin-bottom: 25px;
    } 
    &-subtitle{
        text-align: center;
        max-width: 874px;
        margin: 0 auto;
        margin-bottom: 70px;
        font-size: 18px;
        line-height: 30px;
    }
    &-card{
        flex: 0 0 24%;
        text-align: center;
        padding: 27px 22px;
        border: 1px solid rgba(5, 12, 38, 0.05);
        border-radius: 10px;
        &__img{
            margin-bottom: 30px;
        }
        &__title{
            font-size: 25px;
            line-height: 37px;
            margin-bottom: 15px;
        }
        &__text{
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 25px;
        } 
        &__link{
            text-decoration: none;            
            font-size: 18px;
            line-height: 29px;
            color: $primary-white;
            background-color: $primary;
            padding: 10px 20px;
            border-radius: 5px;
        }       
    }    
}


// ===== services


.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
    &-title{
        max-width: 492px;        
        font-size: 43px;
        line-height: 56px;
        font-weight: 700;
        margin-bottom: 25px;        
    } 
    &-subtitle{        
        max-width: 604px;        
        margin-bottom: 70px;
        font-size: 18px;
        line-height: 30px;
    } 
    &-card{
        flex: 0 0 32%;
        text-align: center;
        padding: 40px;
        border-radius: 10px;
        margin-bottom: 60px;
        position: relative;               
        &.card-01{
            background-image: url(../img/serv-img-1.png);
            background-repeat: no-repeat;
            background-position: center;
        } 
        &.card-02{
            background-image: url(../img/serv-img-2.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &.card-03{
            background-image: url(../img/serv-img-3.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &.card-04{
            background-image: url(../img/serv-img-4.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &.card-05{
            background-image: url(../img/serv-img-5.png);
            background-repeat: no-repeat;
            background-position: center;
        }
        &.card-06{
            background-image: url(../img/serv-img-6.png);
            background-repeat: no-repeat;
            background-position: center;
        }       
        &:hover &-overlay{
            opacity: 0;
        }                
        &-overlay{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 10px;
            backdrop-filter: blur(104px);
            padding: 40px;
            transition: 0.3s;
            &-content{            
                background: #F3F3F3;
                border-radius: 10px;                
                padding: 62px 20px;
            }
            &__title{                
                font-size: 25px;
                line-height: 38px;
                margin-bottom: 20px;
            }
            &__text{
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 40px;
            }
            &__link{
                display: block;
                width: 60px;
                height: 60px;
                margin: 0 auto;
                background-image: url(../img/serv-arrow-black.svg);
            }           
        }
        &-content{            
            background: linear-gradient(180deg, #D93059 0%, #D95B7A 100%);
            border-radius: 10px;
            color: $primary-white;
            padding: 62px 20px;
        }
        &__title{
            color: $primary-white;
            font-size: 25px;
            line-height: 38px;
            margin-bottom: 20px;
        }
        &__text{
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 40px;
        }
        &__link{
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            background-image: url(../img/serv-arrow-blue.svg);
        }
    }
}

// ====== offers


.offers{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 110px;
    &-header{
        text-align: center;
    }
    &-title{
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 49px;        
        margin-bottom: 40px;
    }
    &-subtitle{
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;        
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &-control{
        padding: 10px;        
        display: inline-block;
        border: 1px solid #1B45DA;
        border-radius: 5px;        
        margin-bottom: 60px;
        &-btn{
            font-size: 18px;
            line-height: 29px;
            padding: 10px 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            background: transparent;
            cursor: pointer;
            &:first-child{
                margin-right: 20px;
            }
            &.active{
                color: $primary-white;
                background: $primary;
            }
        }
    }
    &-card{
        flex: 0 0 32%;
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
        text-align: center;        
        &-header{
            padding: 46px 0;
            border-bottom: 1px solid rgba(153, 153, 153, 0.14);
            overflow: hidden;
            position: relative;
        }
        &-content{
            padding: 40px 0;
        }
        &__title{
            font-size: 25px;
            line-height: 38px;            
            &.basic{
                text-transform: uppercase;
            }
        }
        &__price{
            font-size: 18px;
            line-height: 29px;
            color: $primary-black;
            margin-bottom: 15px;
            &-value{
                font-size: 35px;
                font-weight: 700;
                line-height: 49px;
                font-family: 'Lato', sans-serif;
            }
        }
        &__period{
            font-size: 18px;
            line-height: 29px;
            margin-bottom: 40px;
        }
        &__space, &__mail,
        &__domains, &__license{
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        &__license{
            margin-bottom: 30px;
        }
        &__link{            
            text-decoration: none;
            font-size: 25px;
            line-height: 37px;
            font-family: 'Lato', sans-serif;
            color: $primary;
            padding: 15px 30px;
            border: 1px solid $primary;
            border-radius: 5px;
        }
        &:hover &-header{
            background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
            border-bottom: 1px solid #D32852;
            border-radius: 10px 10px 0px 0px;            
        }
        &:hover &__title, &:hover &__price{
            color: $primary-white;
        }
        &:hover &-content{
            background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
            color: $primary-white;
            border-radius: 0 0 10px 10px;
        } 
        &:hover &__link{
            color: $primary-white;
            background-color: $primary;
        } 
        &.business &-header::before{
            content: "";
            position: absolute;
            top: -14px;
            left: -13px;            
            background-image: url(../img/best-deal.svg);
            width: 67px;
            height: 67px;
        }      
    }
}

// ====== slider


.sliders{
    &-title{
        text-align: center;
        font-size: 43px;
        line-height: 60px;
        margin-bottom: 25px;
    }
    &-subtitle{
        max-width: 715px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 70px;
    }
    &-viewport{
        width: 100%;        
        border: 1px solid #050C2610;
        border-radius: 10px;
        background-image: url(../img/slider-bg.png);
        background-repeat: no-repeat;
        padding: 46px 0px;
        margin-bottom: 140px;
    }
}

.slider{
    &-item{
        margin-bottom: 50px;
        padding: 0 69px;
    }
    &-card{
        &-text{
            padding-left: 46px;
            padding-top: 14px;
            font-weight: 500;
            font-style: italic;
            font-size: 18px;
            line-height: 29px;
            margin-bottom: 30px;
            position: relative;
            &::before{
                content: "";
                width: 42px;
                height: 35px;
                display: block;
                background-image: url(../img/marks.svg);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.1;
            }
        }
        &-user{
            display: flex;
            align-items: center;
            &__photo{
                width: 90px;
                height: 90px;
                margin-right: 30px;
            }
            &__user{
                &-name{
                    font-size: 20px;
                    color: $primary-black;
                    font-weight: 500;
                    line-height: 32px;
                }
                &-position{
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }       
}

.slick{
    &-dots{
        & li{
            width: 20px;
            height: 11px;
            border-radius: 20px;
            background-color: $primary;
            opacity: 0.1;
            margin-right: 15px;
            & button::before{
                content: none;
            }
            &:last-child{
                margin-right: 0;
            }
        }
        & .slick-active{
            width: 40px;
            height: 11px;
            border-radius: 20px;
            background-color: $primary;
            opacity: 1;
        }
    }
    &-current .slider-card-text{
        color: $primary-black;
    }
}

